@function rem($px) {
  @return $px / 50 + rem;
}
.order_content {
  height: 100%;
  .add {
      width: 100%;
      font-weight:400;
      padding: rem(15);
      background-color: #fff;
      margin-top: rem(10);
      h4 {
      
          line-height: rem(30);
          font-size: rem(14);
          color:#333;
          overflow: hidden;
          span:first-child {
              color: #333;
          }
          >span:last-child {
              float: right;
              color:#808080;
              font-size: rem(12);
          }
      }
      .order_list {
          width: 100%;
          padding: rem(7.5) 0;
          >dl {
              -webkit-display: flex;
              display: flex;
              margin: rem(7.5) 0;
                  dt {
                      width: 80%;
                      >img {
                          display: inline-block;
                          width: rem(50);
                          height: rem(50);
                          margin-bottom: rem(2);
                          margin-right: rem(3);
                          border-radius:4px;
                      }
                      .omit {
                          display: inline-block;
                          width: rem(30);
                          height: rem(30);
                          background: url('../../../common/img/icon_gdyp.png') no-repeat;
                          background-size: cover;
                      }
                  }
              dd {
                  margin-left: rem(2);
                  font-size: rem(12);
                  color:#333;
                  
                  >span {
                      color: #F09F88;
                      display: block;
                  }
                  > p {
                      padding: rem(5) 0;
                  }
                  >b {
                      font-size: rem(10);
                      color: #4A9CF3;
                  }
              }
          }
         
      }
       >p {
              width:100%;
              text-align: right;
              font-size: rem(12);
              line-height: rem(20);
          }
          .addbtn {
              width: 100%;
              text-align: right;
              margin-top: rem(15);
              >button {
                  height: rem(25);
                  border-radius: rem(13);
                  font-size: rem(13);
              }
          }
  }

  .take {
      width: 100%;
      font-weight:400;
      background-color: #fff;
      margin-top: rem(10);
      padding: rem(15);
       h4 {
          line-height: rem(30);
          font-size: rem(14);
          color:#333;
           span:first-child {
              color: #333;
          }
          >span:last-child {
              float: right;
              color:#808080;
              font-size: rem(12);
          }
      }
      .order_list {
          width: 100%;
          padding: rem(7.5) 0;
          >dl {
              -webkit-display: flex;
              display: flex;
              margin: rem(7.5) 0;
                  dt {
                      width: 80%;
                      >img {
                          display: inline-block;
                          width: rem(50);
                          margin-bottom: rem(2);
                          margin-right: 8px;
                          border-radius:4px;
                      }
                      .omit {
                          display: inline-block;
                          width: rem(30);
                          height: rem(30);
                          background: url('../../../common/img/icon_gdyp.png') no-repeat;
                          background-size: cover;
                      }
                  }
              dd {
                  font-size: rem(12);
                  color:#333;
                  text-align: center;
                  >span {
                      color: #F09F88;
                      display: block;
                      font-size: rem(12);
                  }
                  >p {
                      padding: rem(5) 0;
                  }
                  > b {
                      color: #4A9CF3;
                      font-size: rem(10);
                  }
              }
          }
         
      }
       >p {
              width:100%;
              text-align: right;
              font-size: rem(12);
              line-height: rem(20);
          }
          .addbtn {
              width: 100%;
              text-align: right;
              margin-top: rem(15);
              >button {
                  height: rem(25);
                  border-radius: rem(13);
                  font-size: rem(13);
                  border:1px solid rgba(74,156,243,1);
                  color: #4A9CF3;
                  background-color: #fff;
              }
              .yes {
                  margin-left: rem(15);
              }
          }
  }

}
